body {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #282828;
  justify-content: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

h5 {
  margin-top: 0px;
}

.Box1 {
  margin: 100px;
  display: flex;
  width: 1300px;
  height: 500px;
  background: rgb(62, 62, 62);
  flex-direction: column;
  align-items: center;
  border-radius: 60px;
}

.Box2 {
  align-items: center;
  width: 1150px;
  height: 300px;
  display: flex;
  background-color: dimgray;
  flex-direction: column;
  justify-content: center;
  border-radius: 60px;
  position: relative;
}

.Box3 {
  align-items: center;
  width: 1050px;
  height: 200px;
  display: flex;
  background-color: #575757;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 45px;
  position: relative;
}

/* removes arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* styles.css */
/* Apply text-align: center to labels with the center-text class */
label.center-text {
  text-align: center;
}

/* Center text in the dropdowns */
select {
  text-align: center;
  padding-left: 18px; /* Add left padding to move the text to the right */
  width: 200px; /* Make the select twice as wide */
  height: 46px; /* Make the select twice as tall */
  font-size: 16px; /* Make the font size twice as big */
}

input {
  width: 200px; /* Make the select twice as wide */
  height: 40px; /* Make the select twice as tall */
  font-size: 16px; /* Make the font size twice as big */
}

/* Optionally, you can center text vertically in the dropdowns */
select option {
  text-align: center;
}

label {
  margin-top: 20px; /* Adjusted for better spacing */
  font-weight: bolder;
  font-size: 20px; /* Make the font size twice as big */
}

button {
  margin-top: 30px; /* Adjusted for better spacing */
  width: 200px; /* Make the button twice as wide */
  height: 40px; /* Make the button twice as tall */
  font-size: 20px; /* Make the font size twice as big */
  font-weight: bolder;
  border-radius: 35px;
}

#result {
  margin: 0px;
  position: absolute;
  bottom: 35px; /* Adjust the distance from the bottom as needed */
  font-size: 30px;
  font-weight: bolder;
}

#amount,
#from,
#to {
  display: flex;
  border-radius: 14px; /* Make the border radius twice as big */
  font-size: 16px; /* Make the font size twice as big */
  flex-direction: row;
}

#amounts,
#froms,
#tos {
  display: flex;
  border-radius: 14px; /* Make the border radius twice as big */
  font-size: 16px; /* Make the font size twice as big */
  flex-direction: column;
}
